.App {

  text-align: center;
  margin-top: 100px;
}
.btn{
  color: blue;
}
.stop-btn{
  margin-right: 10px;
  background-color:red;
  text-decoration: none;
}
.start-btn{
  margin-right: 10px;
  background-color: green;
  text-decoration:none;
}
.end-btn{
  background-color: yellow;
  text-decoration: none;
}
